@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.whitesmoke {
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  min-width: 5rem;
  background-color: #a6c4e5;
  padding: 0.3rem 0.8rem;
  border-radius: 0.6rem;
}

.dropdown:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.updateModal {
  left: 30%;
  min-height: 50%;
  min-width: 40%;
}
